<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <style>
        ::placeholder {
            color: rgb(183, 178, 169) !important;
        }
    </style>
    <title>Login</title>
</head>

<body>
    <div class="d-flex align-items-center" style="min-height: 100vh">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-header">
                            Login
                        </div>
                        <div class="card-body">
                            <form class="login" action="/loginaction" method="post">
                                <div class="form-group mt-3">
                                    <label style="color: white;" for="email">Email</label>
                                    <input type="text" class="form-control" id="Email" name="email" placeholder="Enter your email">
                                    <!-- Your existing code with conditionals -->
                                </div>
                                <div class="form-group mt-3">
                                    <label style="color: white;" for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                                    <!-- Your existing code with conditionals -->
                                </div>
                                <button type="submit" class="btn btn-primary mt-4">Login</button>
                                <div class="d-flex align-items-center mt-3 ms-auto">
                                    <div class="fp me-3"><a href="/forgotpass">Forgot Password</a></div>
                                    <div class="crt-new"><a href="/signup">Create a new account</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
